<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top,ikhlas">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-number" class="badge badge-primary badge-pill">0</span>
          <li class="nav-item active">
            
            <a class="nav-link" href="#">Home
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-primary  mt-1" href="./views/register.html">Register</a>
          </li>
          <li class="nav-item">
            <a class=" btn btn-sm btn-info mt-1 mx-3 " href="./views/login.html">log in</a>
            </li>
            <li class="nav-item">
                <a class=" btn btn-sm btn-danger mt-1" href="#">log out</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
